# Ignore Backups and lck files
LD-Driver-backups
~LD-Driver.kicad_*.lck

# Ignore footprints cache
fp-info-cache
fp-lib-table
# Ignore additional symbols' backups
lib/symbols.bak 

# for now ignore BOM files
bom/*

